input {
    width: 300px;
}

/*  Main Page */

.grid-container {
    display: grid;
    grid-template:
        "tmcm intro"
        "tmcm exp"
        "tmcm links"
    ;
    grid-column-gap: 20%;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.main-title-box {
    box-shadow: inset 100px 100px 100px #504673,
        100px -100px 100px #D96E30,
        inset -100px -100px 100px #F24405,
        -100px 100px 100px #8C2703;
    width: 413px;
    height: 414px;
    padding: 40px;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.intro {
    grid-area: intro;
    margin: 1rem;
    padding: 20px;
    font-size: 1.5em;

}

.tmcm {
    grid-area: tmcm;
    align-self: center;
    justify-self: center;
}

.exp {
    grid-area: exp;
    align-self: center;
    justify-self: center;

}

.links {
    grid-area: links;

}

/*  MovieSearch Page */

.movie-search-header {
    display: grid;
    grid-template:
        "search  home"
        "search  select"
        "search route";

}

.search-box {
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-link {
    grid-area: home;
    justify-self: end;
}

.select {
    grid-area: select;
    justify-self: end;
}

.route-btn {
    grid-area: route;
    max-width: 100px;
}


/* Responsive */

@media screen and (max-width: 992px) {


    .grid-container {
        grid-template: "tmcm exp links"
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

    .grid-container {
        grid-template:
            "tmcm"
            "exp"
            "links";
    }
}