@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap");

body {
  margin-right: 2rem;
  margin-left: 2rem;
  background: #e9eaea;
  font-family: "EB Garamond", serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */